option_settings:
  aws:elasticbeanstalk:application:environment:
    TZ: "Asia/Tokyo"

commands:
  00_set_localtime_symlink:
    command: ln -sf /usr/share/zoneinfo/Asia/Tokyo /etc/localtime
  01_update_clock_file:
    command: sed -i 's/^ZONE=.*$/ZONE="Asia\/Tokyo"/' /etc/sysconfig/clock
    test: '[[ ! "$(cat /etc/sysconfig/clock)" =~ ^ZONE=\"Asia/Tokyo\"$ ]]'