commands:
  00_create_dir:
    command: mkdir -p /var/log/python
  01_change_permissions:
    command: chmod g+s /var/log/python
  02_change_owner:
    command: chown wsgi:wsgi /var/log/python 

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/python.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/python/logger.log