commands:
  00_create_dir:
    command: mkdir -p /opt/python/log
  01_change_permissions:
    command: chmod g+s /opt/python/log
  02_change_owner:
    command: chown wsgi:wsgi /opt/python/log
  03_create_file:
    command: touch /opt/python/log/logger.log

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/python.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /opt/python/log/*.log

# files:
#   "/opt/elasticbeanstalk/tasks/taillogs.d/python.conf":
#     mode: "000755"
#     owner: root
#     group: root
#     content: |
#       /var/app/current/log/logger.log

# commands:
#   00_create_dir:
#     command: mkdir -p /var/app/current/log
#   01_change_permissions:
#     command: chmod g+s /var/app/current/log

# files: 
#   "/opt/elasticbeanstalk/tasks/bundlelogs.d/applogs.conf":
#     mode: "000755"
#     owner: root
#     group: root
#     content: |
#       /var/app/current/log/*.log